Repository danielparks/repoyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo clippy, cargo doc, cargo fmt, deno-check

cargo clippy:
  name: cargo clippy
  language: system
  entry: cargo clippy --manifest-path rust-crate/Cargo.toml --all-targets --all-features -- -D warnings
  args: []
  pass_filenames: false

cargo doc:
  name: cargo doc
  language: system
  entry: sh -c 'RUSTDOCFLAGS=-Dwarnings cargo doc --manifest-path rust-crate/Cargo.toml --all-features --workspace --no-deps --document-private-items' --
  args: []
  pass_filenames: false

cargo fmt:
  name: cargo fmt
  language: system
  entry: cargo fmt --manifest-path rust-crate/Cargo.toml --check
  args: []
  pass_filenames: false

deno-check:
  name: deno check
  description: Check all TypeScript source code files.
  entry: deno check
  pass_filenames: false
  language: system

Split API into definition and implementation modules
  rust-crate/src/api.rs
  rust-crate/src/api/definition.rs
  rust-crate/src/api/implementation.rs
  rust-crate/src/api/mock.rs
Due: cargo clippy, cargo doc, cargo fmt

Fix clippy lints
  rust-crate/src/api.rs
  rust-crate/src/main.rs
  rust-crate/src/params.rs
Due: cargo clippy, cargo doc, cargo fmt

Update `openapi.json`.
  openapi.json
Due: none

`cargo deny`: ignore unmaintained crates used by dropshot.
  rust-crate/deny.toml
Due: none

Refactor code style and organization
  rust-crate/examples/mock_server.rs
  rust-crate/src/api.rs
  rust-crate/src/api/implementation.rs
  rust-crate/src/api/mock.rs
  rust-crate/src/main.rs
  rust-crate/src/server.rs
Due: cargo clippy, cargo doc, cargo fmt

Add Vite proxy for backend API requests
  vite.config.ts
Due: deno-check

Fix default bind address to be compatible with dropshot.
  rust-crate/src/params.rs
Due: cargo clippy, cargo doc, cargo fmt

Update default backend URL to work with Vite proxy.
  src/App.tsx
Due: deno-check

Improvements to authentication
  src/App.css
  src/App.tsx
  src/github/api.ts
Due: deno-check

Add trailing newline when outputting OpenAPI JSON to a file.
  rust-crate/src/main.rs
Due: cargo clippy, cargo doc, cargo fmt

Update README.md with more details; remove FONTEND_URL from `.env.example`.
  .env.example
  README.md
Due: none

Deal with most common authentication error
  src/App.tsx
Due: deno-check

Fix oxide/openapi-gen-ts code generation on macOS.
  deno.jsonc
  eslint.config.js
  package.json
  src/api/Api.ts
  src/api/http-client.ts
  src/api/util.ts
Due: deno-check

`deno update` (zod 4).
  deno.lock
  package.json
Due: none

Simplify backend API client code.
  src/App.tsx
  src/api/client.ts
  src/github/api.ts
Due: deno-check

Update README.md with type safety changes.
  README.md
Due: none

Remove dev dependency on zod, which seems to be unused.
  deno.lock
  package.json
Due: none

Tighten requested GitHub access
  src/github/api.ts
Due: deno-check

Switch to relative base path for app doesn’t have to be at domain root.
  vite.config.ts
Due: deno-check

Backend: Change `--bind` param to default to `$BIND`.
  rust-crate/src/params.rs
Due: cargo clippy, cargo doc, cargo fmt

Use new JSX transforms
  deno.jsonc
  deno.lock
  eslint.config.js
  package.json
  scripts/generate-api.sh
  src/api/Api.ts
  src/api/http-client.ts
Due: deno-check

Extract ContributionsView component from App
  src/App.tsx
  src/components/ContributionsView.tsx
Due: deno-check

Fix Claude bug: filter needs to apply default to new repos.
  src/components/ContributionsView.tsx
  src/components/RepositoryList.tsx
  src/model.ts
Due: deno-check

Convert GitHub SVG import to JSX component
  src/components/RepositoryList.tsx
  src/github/GitHubMark.tsx
Due: deno-check

Fix GitHub logo scaling.
  src/App.css
  src/github/GitHubMark.tsx
  src/github/github-mark.svg
Due: deno-check

First pass at CLAUDE.md.
  CLAUDE.md
Due: none

`generate-static.ts`: Generate a JSON file
  scripts/generate-static.ts
Due: deno-check

Static mode: refactor error and loading handling.
  src/static.tsx
Due: deno-check

Static mode: allow loading from another URL (by Claude).
  src/static.tsx
Due: deno-check

Show date on day information.
  src/App.css
  src/components/ContributionsGraph.tsx
Due: deno-check

Remove vite-plugin-checker (incompatible with deno)
  deno.lock
  package.json
  vite.config.ts
Due: deno-check

`generate-static.ts`: Write output file atomically.
  scripts/generate-static.ts
Due: deno-check

Refactor: extract shared calendar loading logic
  src/compact.tsx
  src/components/StatusMessage.tsx
  src/hooks/useStaticCalendar.ts
  src/static.tsx
Due: deno-check

Refactor: deduplicate GraphDay component logic
  src/components/CompactGraph.tsx
  src/components/ContributionsGraph.tsx
Due: deno-check

Refactor: merge CompactGraph into ContributionsGraph
  src/compact.tsx
  src/components/CompactGraph.tsx
  src/components/ContributionsGraph.tsx
Due: deno-check

Update README
  .env.example
  README.md
Due: none

`ContributionsGraph`: use default syntax for `filter` prop.
  src/components/ContributionsGraph.tsx
Due: deno-check

Add doc comments throughout frontend codebase
  scripts/generate-static.ts
  src/components/ContributionsGraph.tsx
  src/components/RepositoryList.tsx
  src/components/StatusMessage.tsx
  src/hooks/useStaticCalendar.ts
  src/model.ts
Due: deno-check

More documentation and clarify Claude’s documentation.
  scripts/generate-static.ts
  src/components/RepositoryList.tsx
  src/hooks/useStaticCalendar.ts
  src/model.ts
Due: deno-check

Pre-commit hook: global exclude configuration.
  .pre-commit-config.yaml
Due: none

Path conditions:
  cargo clippy: any of: (\.rs|Cargo\.toml)$
  cargo doc: any of: \.rs$
  cargo fmt: any of: (\.rs|rustfmt\.toml)$
  deno-check: any of: \.(ts|mts|cts)$, \.tsx$
