Repository danielparks/repoyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo clippy, cargo doc, cargo fmt, deno-check

cargo clippy:
  name: cargo clippy
  language: system
  entry: cargo clippy --manifest-path rust-crate/Cargo.toml --all-targets --all-features -- -D warnings
  args: []
  pass_filenames: false

cargo doc:
  name: cargo doc
  language: system
  entry: sh -c 'RUSTDOCFLAGS=-Dwarnings cargo doc --manifest-path rust-crate/Cargo.toml --all-features --workspace --no-deps --document-private-items' --
  args: []
  pass_filenames: false

cargo fmt:
  name: cargo fmt
  language: system
  entry: cargo fmt --manifest-path rust-crate/Cargo.toml --check
  args: []
  pass_filenames: false

deno-check:
  name: deno check
  description: Check all TypeScript source code files.
  entry: deno check
  pass_filenames: false
  language: system

GraphQL codegen: clean up
  deno.jsonc
  eslint.config.js
  graphql_codegen.ts
  package.json
  src/github/gql.ts
Due: deno-check

Remove ESLint
  deno.jsonc
  deno.lock
  eslint.config.js
  package.json
  src/github/api.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
Due: deno-check

`deno update`.
  deno.jsonc
  deno.lock
  package.json
Due: none

Remove unused "codegen:api" script.
  package.json
Due: none

Remove FIXME about `localStorage` access from the same origin.
  src/App.tsx
Due: deno-check

Missed an explicit type when removing them.
  src/main.tsx
Due: deno-check

Add automated testing with Vitest and React Testing Library
  deno.jsonc
  deno.lock
  package.json
  src/components/RepositoryList.test.tsx
  src/components/StatusMessage.test.tsx
  src/model.test.ts
  src/test/setup.ts
  src/test/vitest.d.ts
  vite.config.ts
Due: deno-check

Remove unnecessary vitest.d.ts file
  src/test/vitest.d.ts
Due: deno-check

Port model tests to Deno's native testing framework
  deno.jsonc
  deno.lock
  src/model_test.ts
Due: deno-check

Distinguish Vite tests from Deno tests
  .pre-commit-config.yaml
  deno.jsonc
  package.json
  src/components/RepositoryList.vitest.tsx
  src/components/StatusMessage.test.tsx
  src/model.test.ts
  src/model_test.ts
  vite.config.ts
Due: deno-check

Vitest: fix Deno type checking.
  deno.jsonc
  src/components/RepositoryList.vitest.tsx
  src/test/setup.ts
  vite.config.ts
Due: deno-check

Various clean ups to Claude-written tests.
  src/components/RepositoryList.vitest.tsx
  src/model.test.ts
Due: deno-check

GitHub actions: add vitest check, and fix deno test.
  .github/workflows/pr-checks-ts.yaml
Due: none

`vite-env.d.ts`: Remove unnecessary `///` directive.
  src/vite-env.d.ts
Due: deno-check

`model.test.ts`: Remove blocks and random semi-constants.
  src/model.test.ts
Due: deno-check

`Calendar`: ensure `days` always starts with Sunday
  src/model.test.ts
  src/model.ts
Due: deno-check

`Calendar`: fix `day()` and add more tests (WIP).
  src/model.test.ts
  src/model.ts
Due: deno-check

`Calendar`: complete week-alignment implementation
  src/model.test.ts
  src/model.ts
Due: deno-check

GitHub query: simplify getting commit data.
  src/github/api.ts
Due: deno-check

Add offline smoke test with fixture data generation.
  docs/TESTING.md
  package.json
  scripts/generate-fixture.ts
  src/App.vitest.tsx
  src/__fixtures__/README.md
  src/__fixtures__/github-contributions.json
Due: deno-check

Clean up Claude’s code and documentation.
  README.md
  deno.jsonc
  deno.lock
  docs/TESTING.md
  scripts/generate-fixture.ts
  src/App.vitest.tsx
  src/__fixtures__/README.md
Due: deno-check

`Calendar.replaceDays()` -> `Calendar.updateSummary()`
  src/model.test.ts
  src/model.ts
Due: deno-check

Add trivial test for updating day summaries.
  src/model.test.ts
  src/model.ts
Due: deno-check

Make `Calendar` details updatable
  src/model.test.ts
  src/model.ts
Due: deno-check

Progressively transform contributions into `Calendar`.
  src/App.tsx
Due: deno-check

Comments: clarify implications and limitations of idempotency in `updateFromContributions()`.
  src/model.ts
Due: deno-check

Update `Calendar.updateFromContributions() docs
  src/model.ts
Due: deno-check

Pre-commit hook: move Rust-related checks into `rust-crate/.pre-commit-config.yaml`.
  .pre-commit-config.yaml
  rust-crate/.pre-commit-config.yaml
Due: none

Embed git version in builds
  compact.html
  index.html
  rust-crate/build.rs
  rust-crate/src/api/definition.rs
  rust-crate/src/api/implementation.rs
  rust-crate/src/api/mock.rs
  scripts/get-version.sh
  static.html
  vite.config.ts
Due: cargo clippy, cargo doc, cargo fmt, deno-check

Add link to GitHub in the footer; restyle version.
  compact.html
  index.html
  rust-crate/build.rs
  src/App.css
  static.html
  vite.config.ts
Due: cargo clippy, cargo doc, cargo fmt, deno-check

Display fetch timestamp in static mode
  src/static.tsx
Due: deno-check

Display fetch timestamp in dynamic mode
  src/App.tsx
Due: deno-check

Simplify and clean up Claude’s last updated time code.
  deno.jsonc
  deno.lock
  scripts/check-static-data.ts
  scripts/generate-static.ts
  src/App.tsx
  src/components/Footer.tsx
  src/github/api.ts
  src/hooks/useStaticCalendar.ts
  src/static.tsx
  src/staticData.ts
Due: deno-check

Move `openapi.json` into `src/api/`.
  package.json
  scripts/generate-api.sh
  src/api/openapi.json
Due: none

Fix version numbers: 0.5.1.
  package.json
  rust-crate/Cargo.lock
  rust-crate/Cargo.toml
Due: cargo clippy

Pre-commit hook: check that `openapi.json` is up to date.
  rust-crate/.pre-commit-config.yaml
Due: none

Refactor ContributionsGraph to use divs instead of table elements.
  src/App.css
  src/App.vitest.tsx
  src/components/ContributionsGraph.tsx
Due: deno-check

Remove hover tooltip code.
  src/App.css
  src/compact.tsx
  src/components/ContributionsGraph.tsx
Due: deno-check

Remove sparklines from RepositoryList.
  src/App.css
  src/components/RepositoryList.tsx
Due: deno-check

Add SummaryBox component with year summary.
  src/App.css
  src/components/ContributionsView.tsx
  src/components/SummaryBox.tsx
Due: deno-check

Path conditions:
  cargo clippy: any of: (\.rs|Cargo\.toml)$
  cargo doc: any of: \.rs$
  cargo fmt: any of: (\.rs|rustfmt\.toml)$
  deno-check: any of: \.(ts|mts|cts)$, \.tsx$
