Repository danielparks/repoyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo clippy, cargo doc, cargo fmt, deno-check, deno run vitest:run, api-types-check

cargo clippy:
  name: cargo clippy
  language: system
  entry: cargo clippy --manifest-path rust-crate/Cargo.toml --all-targets --all-features -- -D warnings
  args: []
  pass_filenames: false

cargo doc:
  name: cargo doc
  language: system
  entry: sh -c 'RUSTDOCFLAGS=-Dwarnings cargo doc --manifest-path rust-crate/Cargo.toml --all-features --workspace --no-deps --document-private-items' --
  args: []
  pass_filenames: false

cargo fmt:
  name: cargo fmt
  language: system
  entry: cargo fmt --manifest-path rust-crate/Cargo.toml --check
  args: []
  pass_filenames: false

deno-check:
  name: deno check
  description: Check all TypeScript source code files.
  entry: deno check
  pass_filenames: false
  language: system

deno run vitest:run:
  name: vitest
  description: Run vitest
  entry: deno run vitest:run
  pass_filenames: false
  language: system

api-types-check:
  name: api types check
  description: Ensure API types are up-to-date
  entry: bash -c 'npm run generate:api --silent && git diff --exit-code src/api/ || (echo "Error - API types are out of date. Run npm run generate:api" && exit 1)'
  language: system
  pass_filenames: false

Add multi-day selection support to calendar view.
  src/components/CalendarHeatMap.tsx
  src/components/RepoYearView.tsx
  src/components/SummaryBox.tsx
Due: deno-check, deno run vitest:run

Refactor `epochDay` handling a bit.
  src/model/Calendar.ts
  src/model/Day.ts
Due: deno-check, deno run vitest:run

Tweak selection event handling code
  src/components/RepoYearView.tsx
  src/model/Calendar.ts
Due: deno-check, deno run vitest:run

Model: add return types to some functions, and use `sum()`.
  src/model/Calendar.ts
  src/model/Day.ts
Due: deno-check, deno run vitest:run

Multiday selection improvements
  src/components/SummaryBox.tsx
  src/model/Calendar.ts
  src/util.test.ts
  src/util.ts
Due: deno-check, deno run vitest:run

Add drag-to-select support to calendar.
  src/components/CalendarHeatMap.tsx
  src/components/RepoYearView.tsx
Due: deno-check, deno run vitest:run

Simplify selection code and make it remember original selection.
  src/components/RepoYearView.tsx
Due: deno-check, deno run vitest:run

Add `key` to sparkline segments
  src/components/SummaryBox.tsx
Due: deno-check, deno run vitest:run

Change lightness to a log function.
  src/components/CalendarHeatMap.tsx
Due: deno-check, deno run vitest:run

Add CHANGELOG.md for frontend.
  CHANGELOG.md
Due: none

Update screenshot.
  images/screenshot.png
Due: none

`deno update`.
  deno.jsonc
  deno.lock
  package.json
Due: none

Consolidate URL handling; use ?user= query parameter.
  src/App.tsx
  src/App.vitest.tsx
  src/main.tsx
Due: deno-check, deno run vitest:run

Style updates to Claude’s code; update README, etc.
  CHANGELOG.md
  README.md
  src/App.tsx
  src/App.vitest.tsx
  src/main.tsx
Due: deno-check, deno run vitest:run

Release 0.8.0.
  CHANGELOG.md
  Cargo.lock
  backend/Cargo.toml
  package.json
  src/api/Api.ts
  src/api/openapi.json
Due: cargo clippy, deno-check, deno run vitest:run, api-types-check

Fix: incorrect calculation of max day hides day
  CHANGELOG.md
  src/components/CalendarHeatMap.tsx
  src/model/Calendar.ts
Due: deno-check, deno run vitest:run

Release 0.8.1: fix incorrect blank days.
  CHANGELOG.md
  Cargo.lock
  backend/Cargo.toml
  package.json
  src/api/Api.ts
  src/api/openapi.json
Due: cargo clippy, deno-check, deno run vitest:run, api-types-check

`deno update` (minus react-error-boundary)
  deno.jsonc
  deno.lock
  package.json
Due: none

Add `<noscript>` message.
  compact.html
  index.html
  static.html
Due: none

Security: ignore RUSTSEC-2026-0049
  backend/deny.toml
Due: none

Fix OAuth code lost on StrictMode double-render
  src/main.tsx
Due: deno-check, deno run vitest:run

Don’t blur days with unknown contributions post load
  CHANGELOG.md
  src/App.tsx
  src/components/CalendarHeatMap.css
  src/components/CalendarHeatMap.tsx
  src/components/RepoYearView.tsx
Due: deno-check, deno run vitest:run

Treat unknown contributions as their own repo
  src/components/RepositoryList.tsx
  src/components/SummaryBox.tsx
  src/model/Calendar.ts
  src/model/Repository.ts
Due: deno-check, deno run vitest:run

Ignore a few more rustls-webpki advisories that don’t apply to RepoYear.
  backend/deny.toml
Due: none

Enable two new restriction lints and fix
  Cargo.toml
  backend/examples/mock_server.rs
  backend/src/api/definition.rs
  backend/src/api/implementation.rs
  backend/src/lib.rs
  backend/src/params.rs
  backend/src/repos/config.rs
  backend/src/test/mod.rs
  src/api/Api.ts
  src/api/openapi.json
Due: cargo clippy, cargo doc, cargo fmt, deno-check, deno run vitest:run, api-types-check

Fix +nightly clippy lints.
  backend/src/repos/config.rs
Due: cargo clippy, cargo doc, cargo fmt

Ignore RUSTSEC-2026-0104; we don’t use TLS.
  backend/deny.toml
Due: none

Reduce max lightness from 99% to 96%, since 99% looked white.
  CHANGELOG.md
  src/components/CalendarHeatMap.tsx
Due: deno-check, deno run vitest:run

Fix stale “unknown“ `RepositoryDay` in `updateRepoCounts()`
  src/model/Calendar.test.ts
  src/model/Calendar.ts
Due: deno-check, deno run vitest:run

Update GitHub data fixture with private repo contributions.
  src/__fixtures__/github.json
Due: none

Test `Calendar` using `updateRepoCounts()`.
  src/model/Calendar.test.ts
Due: deno-check, deno run vitest:run

Add GitHub fixture data with extra week without summary data
  src/__fixtures__/README.md
  src/__fixtures__/github-extra-week.json
Due: none

Fix `Day.unknownCount()`
  src/components/CalendarHeatMap.tsx
  src/model/Day.test.ts
  src/model/Day.ts
Due: deno-check, deno run vitest:run

Add --years flag to fixture generator; support date ranges in queryBase.
  scripts/generate-fixture.ts
  src/github/api.ts
Due: deno-check, deno run vitest:run

Rename `Calendar.updateSummary()` to `.normalizeDays()`.
  src/model/Calendar.test.ts
  src/model/Calendar.ts
Due: deno-check, deno run vitest:run

GitHub contributions fixture for last 3 years.
  src/__fixtures__/github-3-years.json
Due: none

Don't create days for specific events outside summary range
  src/model/Calendar.fixture.test.ts
  src/model/Calendar.ts
Due: deno-check, deno run vitest:run

Add fixture-based integration tests for data model refactor
  src/model/Calendar.fixture.test.ts
Due: deno-check, deno run vitest:run

Clear issues/PRs/reviews before reprocessing a year's contributions
  src/model/Calendar.fixture.test.ts
  src/model/Calendar.ts
Due: deno-check, deno run vitest:run

Re-enable “No contributions data” message; improve design.
  src/App.css
  src/components/CalendarHeatMap.css
  src/components/CalendarHeatMap.tsx
  src/model/Calendar.ts
Due: deno-check, deno run vitest:run

Path conditions:
  cargo clippy: any of: (\.rs|Cargo\.toml)$, but not: (?x)(
  ^rust-crate/target/|
  ^src/github/gql[.]ts$|
  ^src/github/schema[.]graphql$
)

  cargo doc: any of: \.rs$, but not: (?x)(
  ^rust-crate/target/|
  ^src/github/gql[.]ts$|
  ^src/github/schema[.]graphql$
)

  cargo fmt: any of: (\.rs|rustfmt\.toml)$, but not: (?x)(
  ^rust-crate/target/|
  ^src/github/gql[.]ts$|
  ^src/github/schema[.]graphql$
)

  deno-check: any of: \.(ts|mts|cts)$, \.tsx$, but not: (?x)(
  ^rust-crate/target/|
  ^src/github/gql[.]ts$|
  ^src/github/schema[.]graphql$
)

  deno run vitest:run: any of: \.(ts|mts|cts)$, \.tsx$, but not: (?x)(
  ^rust-crate/target/|
  ^src/github/gql[.]ts$|
  ^src/github/schema[.]graphql$
)

  api-types-check: any of: openapi\.json$, but not: (?x)(
  ^rust-crate/target/|
  ^src/github/gql[.]ts$|
  ^src/github/schema[.]graphql$
)

