Repository danielparks/repoyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo clippy, cargo doc, cargo fmt, deno-check, deno run vitest:run, api-types-check

.pre-commit-config.yaml:

exclude: |
  (?x)(
    ^rust-crate/target/|
    ^src/github/gql[.]ts$|
    ^src/github/schema[.]graphql$
  )

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: mixed-line-ending
        args: ["--fix=no"]
      - id: no-commit-to-branch
  - repo: https://github.com/crate-ci/typos
    rev: v1.40.0
    hooks:
      - id: typos
        args: []
  - repo: local
    hooks:
      - id: cargo clippy
        name: cargo clippy
        language: system
        entry: cargo clippy --manifest-path rust-crate/Cargo.toml --all-targets --all-features -- -D warnings
        args: []
        files: (\.rs|Cargo\.toml)$
        pass_filenames: false
      - id: cargo doc
        name: cargo doc
        language: system
        entry: sh -c 'RUSTDOCFLAGS=-Dwarnings cargo doc --manifest-path rust-crate/Cargo.toml --all-features --workspace --no-deps --document-private-items' --
        args: []
        files: \.rs$
        pass_filenames: false
      - id: cargo fmt
        name: cargo fmt
        language: system
        entry: cargo fmt --manifest-path rust-crate/Cargo.toml --check
        args: []
        files: (\.rs|rustfmt\.toml)$
        pass_filenames: false
      - id: deno-check
        name: deno check
        description: Check all TypeScript source code files.
        entry: deno check
        types_or: [ts, tsx]
        pass_filenames: false
        language: system
      - id: deno run vitest:run
        name: vitest
        description: Run vitest
        entry: deno run vitest:run
        types_or: [ts, tsx]
        pass_filenames: false
        language: system
      - id: api-types-check
        name: api types check
        description: Ensure API types are up-to-date
        entry: bash -c 'npm run generate:api --silent && git diff --exit-code src/api/ || (echo "Error - API types are out of date. Run npm run generate:api" && exit 1)'
        language: system
        files: openapi\.json$
        pass_filenames: false
  - repo: https://github.com/nozaq/pre-commit-deno
    rev: 0.1.0
    hooks:
      - id: deno-fmt-check
      - id: deno-lint
      - id: deno-test

Clarify a few comments and tweak code style.
  src/components/ContributionsGraph.tsx
  src/components/ContributionsView.tsx
  src/components/SummaryBox.tsx
Due: deno-check, deno run vitest:run

Add responsive two-column layout for summary and repository list.
  src/App.css
  src/components/ContributionsView.tsx
Due: deno-check, deno run vitest:run

Refine layout: fixed-width summary box with multi-column repo list.
  src/App.css
Due: none

`get-version.sh`: Suppress output from `git update-index`.
  scripts/get-version.sh
Due: none

Use `<RepositoryName>` in summary box.
  src/App.css
  src/components/RepositoryList.tsx
  src/components/SummaryBox.tsx
Due: deno-check, deno run vitest:run

Claude clean up
  src/App.css
  src/components/SummaryBox.tsx
Due: deno-check, deno run vitest:run

`YearSummary`: show PR, issue, and review counts.
  src/App.css
  src/components/SummaryBox.tsx
  src/model/Day.ts
  src/model/Filter.ts
Due: deno-check, deno run vitest:run

`SummaryBox`: filter shown information.
  src/App.css
  src/components/ContributionsView.tsx
  src/components/SummaryBox.tsx
  src/model/Calendar.ts
  src/model/Day.test.ts
  src/model/Day.ts
Due: deno-check, deno run vitest:run

Change Reload button to Refresh with shift-key override
  src/App.tsx
Due: deno-check, deno run vitest:run

`README.md`: add Alternatives section.
  README.md
Due: none

Update screenshot.
  docs/screenshot.png
Due: none

Add more whitespace; add header for repo list
  src/App.css
  src/components/RepositoryList.tsx
Due: deno-check, deno run vitest:run

Split out CSS for major components.
  src/App.css
  src/components/CalendarHeatMap.css
  src/components/CalendarHeatMap.tsx
  src/components/RepositoryList.css
  src/components/RepositoryList.tsx
  src/components/SummaryBox.css
  src/components/SummaryBox.tsx
Due: deno-check, deno run vitest:run

Remove body margin in compact mode.
  src/App.css
Due: none

Remove `max-width` from column contents.
  src/components/RepositoryList.css
  src/components/SummaryBox.css
Due: none

Restore grid gaps for repo list.
  src/components/RepositoryList.css
Due: none

Summary box: switch from round rect border to dashed right border.
  src/App.css
  src/components/RepositoryList.css
  src/components/SummaryBox.css
Due: none

Version 0.6.0: New name, icon, summary box.
  Cargo.lock
  backend/Cargo.toml
  package.json
  src/api/Api.ts
  src/api/openapi.json
Due: cargo clippy, deno-check, deno run vitest:run, api-types-check

Update README.md screenshot.
  images/screenshot.png
Due: none

Change sparkline from bar chart to line graph.
  src/components/SummaryBox.tsx
Due: deno-check, deno run vitest:run

Remove `max-width` in a few places where it wasn’t needed.
  src/components/RepositoryList.css
  src/components/SummaryBox.css
Due: none

Columns for repos in summary box
  src/App.css
  src/components/RepositoryList.tsx
  src/components/SummaryBox.css
  src/components/SummaryBox.tsx
Due: deno-check, deno run vitest:run

Tweak layout on iPhone.
  src/App.css
  src/components/CalendarHeatMap.css
Due: none

Sort PRs, issues, etc. in day summary box.
  src/components/SummaryBox.tsx
Due: deno-check, deno run vitest:run

CSS: clarifying comment, remove unneeded property.
  src/components/SummaryBox.css
Due: none

Log days that don’t have summary data
  src/components/CalendarHeatMap.tsx
Due: deno-check, deno run vitest:run

Indicate loading with animated button
  src/App.css
  src/App.tsx
  src/App.vitest.tsx
  src/model/Calendar.ts
Due: deno-check, deno run vitest:run

More consistent baseline grid, especially on login screen.
  src/App.css
  src/components/RepositoryList.css
Due: none

Fix: remove margin on compact mode.
  src/components/CalendarHeatMap.css
Due: none

Login screen: place 1/3 down the screen.
  src/App.css
  src/App.tsx
  src/components/StatusMessage.tsx
Due: deno-check, deno run vitest:run

Split `useKeyMonitor()` into another file.
  src/App.tsx
  src/hooks/useKeyMonitor.ts
Due: deno-check, deno run vitest:run

Switch to +nightly for `rust fmt`
  .github/workflows/pr-checks-rust.yaml
  backend/.pre-commit-config.yaml
  backend/rustfmt.toml
  backend/src/main.rs
Due: cargo clippy, cargo doc, cargo fmt

`repoyear-backend scan`: collect data from server repos
  Cargo.lock
  backend/Cargo.toml
  backend/src/main.rs
  backend/src/params.rs
  backend/src/repos.rs
Due: cargo clippy, cargo doc, cargo fmt

Backend: Move repo scanning code into `repos/scan.rs`.
  backend/src/repos/mod.rs
  backend/src/repos/scan.rs
Due: cargo clippy, cargo doc, cargo fmt

Backend: Fix doc comments in `repos/scan.rs`.
  backend/src/repos/scan.rs
Due: cargo clippy, cargo doc, cargo fmt

Backend: First pass at tests for `scan()`
  Cargo.lock
  backend/Cargo.toml
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/repos/scan.rs
  backend/src/test/mod.rs
Due: cargo clippy, cargo doc, cargo fmt

Backend: Rework `git` test code
  backend/src/repos/scan.rs
  backend/src/test/mod.rs
Due: cargo clippy, cargo doc, cargo fmt

Backend: Add FS helpers to `git` test helpers.
  backend/src/repos/scan.rs
  backend/src/test/mod.rs
Due: cargo clippy, cargo doc, cargo fmt

Backend: TOML configuration file for scanning repos
  Cargo.lock
  backend/Cargo.toml
  backend/src/main.rs
  backend/src/params.rs
  backend/src/repos/config.rs
  backend/src/repos/errors.rs
  backend/src/repos/mod.rs
  backend/src/repos/scan.rs
  backend/src/test/mod.rs
Due: cargo clippy, cargo doc, cargo fmt

Backend: bump MSRV to support `if let ... &&`.
  backend/Cargo.toml
  backend/src/repos/scan.rs
Due: cargo clippy, cargo doc, cargo fmt
