Repository danielparks/repoyear: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo clippy, cargo doc, cargo fmt, deno-check, deno run vitest:run, api-types-check

.pre-commit-config.yaml:

exclude: |
  (?x)(
    ^rust-crate/target/|
    ^src/github/gql[.]ts$|
    ^src/github/schema[.]graphql$
  )

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=1024"]
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: detect-private-key
      - id: mixed-line-ending
        args: ["--fix=no"]
      - id: no-commit-to-branch
  - repo: https://github.com/crate-ci/typos
    rev: v1.40.0
    hooks:
      - id: typos
        args: []
  - repo: local
    hooks:
      - id: cargo clippy
        name: cargo clippy
        language: system
        entry: cargo clippy --manifest-path rust-crate/Cargo.toml --all-targets --all-features -- -D warnings
        args: []
        files: (\.rs|Cargo\.toml)$
        pass_filenames: false
      - id: cargo doc
        name: cargo doc
        language: system
        entry: sh -c 'RUSTDOCFLAGS=-Dwarnings cargo doc --manifest-path rust-crate/Cargo.toml --all-features --workspace --no-deps --document-private-items' --
        args: []
        files: \.rs$
        pass_filenames: false
      - id: cargo fmt
        name: cargo fmt
        language: system
        entry: cargo fmt --manifest-path rust-crate/Cargo.toml --check
        args: []
        files: (\.rs|rustfmt\.toml)$
        pass_filenames: false
      - id: deno-check
        name: deno check
        description: Check all TypeScript source code files.
        entry: deno check
        types_or: [ts, tsx]
        pass_filenames: false
        language: system
      - id: deno run vitest:run
        name: vitest
        description: Run vitest
        entry: deno run vitest:run
        types_or: [ts, tsx]
        pass_filenames: false
        language: system
      - id: api-types-check
        name: api types check
        description: Ensure API types are up-to-date
        entry: bash -c 'npm run generate:api --silent && git diff --exit-code src/api/ || (echo "Error - API types are out of date. Run npm run generate:api" && exit 1)'
        language: system
        files: openapi\.json$
        pass_filenames: false
  - repo: https://github.com/nozaq/pre-commit-deno
    rev: 0.1.0
    hooks:
      - id: deno-fmt-check
      - id: deno-lint
      - id: deno-test

Limit header to 1 line
  src/App.css
  src/App.tsx
  src/App.vitest.tsx
  src/static.tsx
Due: deno-check, deno run vitest:run

Make header buttons smaller.
  src/App.css
Due: none

Tweak button focus outline.
  src/App.css
Due: none

Move app header button CSS down with other header CSS.
  src/App.css
Due: none

Reduce font size of header and size at which title hides.
  src/App.css
Due: none

Fix API client backend URL handling
  src/api/client.ts
Due: deno-check, deno run vitest:run

`prek auto-update`.
  .pre-commit-config.yaml
Due: none

Configure dependabot to group dependency updates.
  .github/dependabot.yml
Due: none

Add GitHub action to run prek auto-update on dependabot PRs.
  .github/workflows/dependabot-prek.yaml
Due: none

Limit dependabot to security updates for Npm and Cargo.
  .github/dependabot.yml
Due: none

Clean up `Dependabot prek auto-update` action
  .github/workflows/dependabot-prek.yaml
Due: none

Frontend: get app version from environment variable
  vite.config.ts
Due: deno-check, deno run vitest:run

Fix token refresh and session expiration logic.
  src/App.tsx
Due: deno-check, deno run vitest:run

Make `tokenManager.rs` provide a real hook
  src/App.tsx
  src/hooks/useTokenManager.ts
Due: deno-check, deno run vitest:run

Move frontend URL and GitHub client ID into `App` parameters.
  src/App.tsx
  src/App.vitest.tsx
  src/main.tsx
Due: deno-check, deno run vitest:run

Remove extra `OAuthTokenResponse` definition.
  src/api/client.ts
  src/auth/tokenManager.ts
Due: deno-check, deno run vitest:run

Clean up token code.
  .env.example
  backend/src/api/definition.rs
  backend/src/api/implementation.rs
  backend/src/api/mock.rs
  src/App.tsx
  src/api/Api.ts
  src/api/client.ts
  src/api/openapi.json
  src/auth/tokenManager.ts
Due: cargo clippy, cargo doc, cargo fmt, deno-check, deno run vitest:run, api-types-check

Migrate from GitHub OAuth App to GitHub App with token refresh
  .env.example
  backend/src/api.rs
  backend/src/api/definition.rs
  backend/src/api/implementation.rs
  backend/src/api/mock.rs
  backend/src/server.rs
  src/App.tsx
  src/App.vitest.tsx
  src/api/Api.ts
  src/api/client.ts
  src/api/openapi.json
  src/auth/tokenManager.ts
Due: cargo clippy, cargo doc, cargo fmt, deno-check, deno run vitest:run, api-types-check

`README.md`: Update configuration information
  README.md
Due: none

Vitest: Test authentication flow.
  src/App.tsx
  src/App.vitest.tsx
Due: deno-check, deno run vitest:run

`README.md`: `.github_token` -> `.github-token`.
  README.md
Due: none

Serve local repo contributions from backend
  backend/src/api/definition.rs
  backend/src/api/implementation.rs
  backend/src/api/mock.rs
  backend/src/main.rs
  backend/src/params.rs
  backend/src/server.rs
  src/App.tsx
  src/App.vitest.tsx
  src/api/Api.ts
  src/api/client.ts
  src/api/openapi.json
  src/components/RepositoryList.tsx
  src/model/Calendar.ts
  src/model/Day.ts
Due: cargo clippy, cargo doc, cargo fmt, deno-check, deno run vitest:run, api-types-check

`Calendar.updateFromLocal()`: refactor slightly.
  src/model/Calendar.ts
Due: deno-check, deno run vitest:run

`CalendarHeatMap.tsx`: remove unused `interface Subdivision`.
  src/components/CalendarHeatMap.tsx
Due: deno-check, deno run vitest:run

`CalendarHeatMap`: days with unsummarized contributions
  src/components/CalendarHeatMap.tsx
Due: deno-check, deno run vitest:run

New fixture data with mismatched summary and specifc days
  src/__fixtures__/README.md
  src/__fixtures__/github-contributions.json
Due: none

`SummaryBox`: show correct calendar date range
  src/components/SummaryBox.tsx
  src/model/Calendar.ts
  src/model/Day.ts
Due: deno-check, deno run vitest:run

Vite: serve `/assets/**.json`.
  vite.config.ts
Due: deno-check, deno run vitest:run

Static mode: load local repository contributions
  src/hooks/useStaticCalendar.ts
  src/vite-env.d.ts
Due: deno-check, deno run vitest:run

`useStaticCalendar`: factor out `loadJson()`.
  src/hooks/useStaticCalendar.ts
Due: deno-check, deno run vitest:run

Backend: type alias for local contributions.
  backend/src/api/definition.rs
  backend/src/api/implementation.rs
  backend/src/api/mock.rs
Due: cargo clippy, cargo doc, cargo fmt

Local contributions: simplify frontend processing slightly.
  src/App.tsx
  src/api/client.ts
  src/hooks/useStaticCalendar.ts
  src/model/Calendar.ts
Due: deno-check, deno run vitest:run

`useStaticCalendar`: rename local variable.
  src/hooks/useStaticCalendar.ts
Due: deno-check, deno run vitest:run

`useStaticCalendar`: remove unused generic.
  src/hooks/useStaticCalendar.ts
Due: deno-check, deno run vitest:run

`README.md`: Add `VITE_LOCAL_CONTRIBUTIONS_URL` variable.
  README.md
Due: none

`CLAUDE.md`: don’t need to `cd backend` before running `cargo`.
  CLAUDE.md
Due: none

Rename static `assets/contributions.json` to `assets/github.json`.
  CLAUDE.md
  README.md
  scripts/generate-fixture.ts
  scripts/generate-static.ts
  src/App.vitest.tsx
  src/__fixtures__/README.md
  src/__fixtures__/github.json
  src/hooks/useStaticCalendar.ts
Due: deno-check, deno run vitest:run

Simplify code to remove old token from `localStorage`.
  src/hooks/useTokenManager.ts
Due: deno-check, deno run vitest:run

Release 0.7.0: include local contributions
  Cargo.lock
  README.md
  backend/Cargo.toml
  package.json
  src/api/Api.ts
  src/api/openapi.json
Due: cargo clippy, deno-check, deno run vitest:run, api-types-check

Fix Dependabot PR updater: push with custom token
  .github/workflows/dependabot-prek.yaml
Due: none
